.pageSlider {
    -webkit-appearance: none;
    width: 110%;
    height: 5px;
   background: linear-gradient( 
      to right,
      hsl(174, 77%, 80%) 0%,
      hsl(174, 77%, 80%) 50%,
      hsl(224, 65%, 95%) 50%,
      hsl(224, 65%, 95%) 100%
    );
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s; 
  }

  .pageSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background-image:url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position:center;
    border-radius:20px;
    border:1px solid none;
    background-color: hsl(174, 86%, 45%);
    box-shadow: 4px 4px 4px 4px hsla(174, 86%, 45%, 0.336);
    cursor: pointer;
  }

  
*/

  
  .pageSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background:hsl(174, 86%, 28%) ;
    cursor: pointer;
  }


  .pageSlider::-webkit-slider-thumb:active
  {
    cursor:grabbing;
    background-color:hsl(174, 86%, 28%);
  }
  



















  